[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "~=2.14"
wikipedia = "*"
yarl = "*"
asyncpg = "*"
django = "*"
psycopg2-binary = "*"
whitenoise = "==5.1.0"
gunicorn = "*"
aiohttp = "==3.7.4.post0"

[dev-packages]

[requires]
python_version = "3.12.4"
